<%= form_for @question, :url => admin_event_question_path(@event) do |f|%>
  <div class="form-group">
    <%= f.label :content, "問題" %>
    <%= f.text_area :content, :class => "form-control" %>
  </div>

  <%= f.submit "更新",:class => "btn btn-primary" %>
<%end%>