<h1>photo</h1>

<div class="col-md-6">
  <div class="subtitle">
    <h3>about chill chill</h3> 
  </div>
  <div class="content">
    <p>
    The word “chill” delivers a comfortable, relax, and cool-fun life style of the modern generation. This exactly matches Kaohsiung, where the city style is twisting.</p>
    
    <p>Within this concept extension, chill can be pronounced and interpreted as “GO”(去) in Mandarin, to go to an unfamiliar city and enjoy a leisure wondering. Chill could also means “FUN”(趣) in Mandarin, to be involved with the locals and get to know what they are happy for open-mindedly. Moreover, we would like to boldly define chill as“PROUD”(秋) in Taiwanese. We aim to find out all the chillest parts of Kaohsiung we are proud of and share with you.</p>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div class="subtitle col-md-offset-4">
    <h3>contact us</h3> 
  </div>
  <div class="content">
    <p>chillchill.kaohsiung@gmail.com</p>
    <p>+886 -953 - 555 -833 </p>
    <p>AM 12:00 - AM 18:00</p>          
  </div>

</div>

<br>
<br>
<br>

<div class="col-md-6">
  <div class="subtitle ">
    <h3>chill chill kaohsiung project.</h3> 
  </div>
  <div class="content">
    <p>chill chill kaohsiung project. was founded in February 2014 . It is a field trip project to explore Kaohsiung chill-chill life style via local food, art, daily fun and nature. Our goal is to reserve old-time memory of this city while creating brand new experiences to it. This project was initiated by a group of local shops, organizations, and individuals and was from free imagination to an executive project. </p>

    <p>chill-chill partners come from various backgrounds. We're trying to leverage personal perspectives and professions to re-discover Kaohsiung and figure out the funs that convey a message or represent the iniquity of this city.  We design cool and creative local trips based on our findings. We aim to find out all the chillest parts of Kaohsiung we are proud of and share with you. </p>

    <p>There have been various fun chill-chill Kaohsiung projects tour on line. Go check it out and let us be your key access to "Kaohsiung chill-chill"!</p>  
    <br>

    <div class="col-md-offset-7">
      <%= link_to "food projects >>", projects_path, :class =>"btn btn-warning btn-lg"%>
    </div>
    <br>

    <div class="col-md-offset-7">
      <%= link_to "outdoor projects >>", projects_path, :class =>"btn btn-primary btn-lg"%>
    </div>
    <br>
  </div>
  
  

</div>

<div>
  <h1>.</h1>
</div>