// Place all the styles related to the partners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.partners_title h1{
  line-height: 50px;
  text-align: center;
  width: 40%;
  font-size: 30px;
  color: white;
  background-color: black;
}

.partner_block{
  padding: 3%;
}

.partner_block img{
  width: 250px;
  height: 200px;
}

.partner_block h3{
  font-weight:bold;
}

.partner_block p{
  color: gray;
  font-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
}

.partner_show_img img{
  width: 600px;
  height: 400px;
}

.partner_show_content p{
  font-family: courier new,courier-ps-w01,courier-ps-w02,courier-ps-w10,monospace;
}