// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  border-color: black;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
}

.content p{
  margin: 10px 20px 10px 20px;
  font-size: 16px;
  line-height: normal;
  letter-spacing: normal;
  font: normal normal normal 17px/1.4em basic,sans-serif;

}

.subtitle{
  
}

.subtitle h3{
  line-height: 30px;
  text-align: left;
  font-size: 20px;
  color: white;
  background-color: #1B2932;
  float: left;
  padding: 10px;
  display: block;
  float: left;
}

.project_block{
  padding: 3%;
}

.project_block img{
  position: relative;
  width: 467px;
  height: 355px;
}

.project_name{
  position:absolute;
  background-color: white;
  vertical-align: baseline;
  font-family: din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif;
  font-size: 24px;
  padding: 1%;
  color: gray;
  top:10%; 
  
}